In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

import explore

In [2]:
df = explore.make_initial_df()
df = explore.add_new_columns(df)
df.head()

,repo,language,readme_contents,basic_clean,clean_tokes,lemmatized,clean_lemmatized,gen_language,without_numbers,num_words,num_unique_words,link_counts,py_extensions,js_extensions,ipynb_extensions
0,CyC2018/CS-Notes,Java,"<div align=""center"">\r\n <a href=""https://g...",\r\n \r\n \r\n \r\n \r\n\r\n\r...,"[nbspnbsp, nbspnbsp, nbspnbspnbspnbspnbspnbspn...",nbspnbsp nbspnbsp nbspnbspnbspnbspnbspnbspnbsp...,nbspnbsp nbspnbsp nbspnbspnbspnbspnbspnbspnbsp...,Java,nbspnbsp nbspnbsp nbspnbspnbspnbspnbspnbspnbsp...,76,52,76,0,0,0
1,TheAlgorithms/Python,Python,# The Algorithms - Python\n[![Gitpod Ready-to-...,the algorithms python\ngitpod readytocodehtt...,"[the, algorithms, python, gitpod, readytocodeh...",the algorithm python gitpod readytocodehttpsim...,algorithm python gitpod readytocodehttpsimgshi...,Python,algorithm python gitpod readytocodehttpsimgshi...,43,36,17,0,0,0
2,trekhleb/javascript-algorithms,JavaScript,# Algoritmos y Estructuras de Datos en JavaScr...,algoritmos y estructuras de datos en javascri...,"[algoritmos, y, estructuras, de, datos, en, ja...",algoritmos y estructuras de datos en javascrip...,algoritmos estructuras de datos en javascript ...,JavaScript,algoritmos estructuras de datos en javascript ...,1718,593,7,0,2,0
3,kdn251/interviews,Java,> * 原文地址：[github.com/kdn251/interviews](https:...,githubcomkdn251interviewshttpsgithubcomkdn25...,[githubcomkdn251interviewshttpsgithubcomkdn251...,githubcomkdn251interviewshttpsgithubcomkdn251i...,githubcomkdn251interviewshttpsgithubcomkdn251i...,Java,githubcomkdn251interviewshttpsgithubcomkdn251i...,443,293,29,0,0,0
4,yangshun/tech-interview-handbook,JavaScript,"<h1 align=""center"">Tech Interview Handbook</h1...",tech interview handbook\n\n\n \n \n \n \...,"[tech, interview, handbook, credits, illustrat...",tech interview handbook credit illustration by...,tech interview handbook credit illustration ya...,JavaScript,tech interview handbook credit illustration ya...,364,235,55,0,0,0

In [3]:
word_counts_df = explore.make_word_counts_df(df)
word_counts_df.head()

        all  python  javascript  jupyter  c_plus  typescript  java  other
0       537     348          88       15      59           3     4     20
00       30       0           0       30       0           0     0      0
000       2       2           0        0       0           0     0      0
0000      7       1           0        3       2           0     0      1
000000    2       0           0        2       0           0     0      0

In [4]:
vectorized_df = explore.make_vectorized_df(df)
vectorized_df.head()

,00,000,0000,000000,00008100,0001twosumproblems1twosumenmd,0002,0003,0004732,0004medianoftwosortedarrayproblems4medianoftwosortedarraymd,...,zxf,zxvf,zynga,zyszyshttpsgithubcomzyszys,num_words,num_unique_words,link_counts,py_extensions,js_extensions,ipynb_extensions
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,76,52,76,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,43,36,17,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1718,593,7,0,2,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,443,293,29,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,364,235,55,0,0,0

In [5]:
X = vectorized_df
y = df.gen_language

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=.2)

scaler, X_train_scaled, X_test_scaled = explore.min_max_scaler(X_train, X_test)